@import "../../scss/variables";

.detail{
    color: $text-color;
    font-family: $font;
    width: 60%;
    padding: 1rem;
    display: flex;
    margin: 5rem auto;
    border: 3px solid $border-color;
    border-radius: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.25);
    background-color: $card-bg;
}

.detail-Title, .detail-Img, .detail-Desc, .detail-Texts, .detail-Price, .detail-Stock{
    padding: 0.5rem;
    background-color: $card-bg;
}
.detail-Img{
    width: 70%;
    display: flex;
    align-self: center;
}

.detail-Desc{
    margin: 0 auto;
}
.detail-Texts{
    width: 40%;
}

.detail-Price{
    display: flex;
    justify-content: center;
}

.detail-Btn{
    display: flex;
    margin: 0 auto;
    @extend .button-Styles;
}

.detail-Stock{
    text-align: center;
}