@import "../../scss/variables";

.cart-Nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}
.cart-Empty{
  font-family: $font;
  padding: 1rem
}
.cartNavButton, .cart-Clear, .cart-Finish{
  @extend .button-Styles;
}

.cart-Clear{
  margin: 1rem;
  position: absolute;
  right: 0;
}

.cart-Finish{
  margin: 1rem;
}