@import "../../scss/_variables.scss";


.menu-Icon{
    position: absolute;
    right: 1rem;
    font-size: 1.5rem;
    background-color: $nav-color;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
}
.menu-Items, .menu-Count{
    background-color: inherit;
}
.menu-Count{
    font-size: 1.3rem;
}