@import "../../scss/_variables.scss";

.card{
    width: 30%;
    min-height: 400px;
    background-color: $card-bg;
    border: 1px solid $border-color;
}


.cardTitle, .cardDesc, .cardPrice, .cardStock{
    color: $text-color;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-family: $font;
    background-color: $card-bg;

}

.cardImg{
    width: 30%;
    display: flex;
    margin: 0 auto;
    padding-top: 0.5rem;
    background-color: $card-bg;
}