@import "/src/scss/variables";

.button{
    display: flex;
    justify-content: center;
    background-color: $card-bg;
}

// .button-less, .button-more{
//     width: 1rem;
//     background-color: $card-bg;
//     border-style: none;
//     border: 2px solid $border-color;
//     border-radius: 5px;
// }

.add{
    display: flex;
    justify-content: center;
    background-color: inherit;
    margin: 1rem;
}

.button-add, .button-count, .button-less, .button-more{
    @extend .button-Styles;
}

.swal-Title, .swal-Text, .swal2-actions{
    background-color: $card-bg;
    font-family: $font;
}
.swal2-x-mark{
    border-radius: 50%;
    background-color: $card-bg;
}
