@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
$font:'Libre Franklin', sans-serif;
$nav-color: #1a1b27;
$nav-text: white;
$background-color: #EBEBEB;
$text-color: black;
$hover-color: #bababa;
$card-bg: #FFFFFF; 
$border-color: #4B0082;