@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
$font:'Libre Franklin', sans-serif;
$background-color: #1A1B27;
$text-color: #F5F5F5;
$nav-color: #16161F;
$hover-color: #bababa;
$card-bg: #282D6B; 